<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <title>Room</title>
</head>

<h2>Room # </h2>
    <h2 th:utext="${room.getName()}"></h2>
<h3>Lamp is: </h3>
    <h3 th:utext="${lamp.getLampCondition()}"></h3>

<table id="lampsList">
</table>

<form action="#">
    <button onclick="turnTheLampOffOn()">Turn the lamp</button>
    <select id="cond">
        <option>ON</option>
        <option>OFF</option>
    </select>
</form>

<form action="#" th:object="${lamp}">
    <button onclick="showLamp()">Show the lamp</button>
    <input type="hidden" id="idLamp" th:value="${lamp.getId()}">
</form>

<script>
function turnTheLampOffOn() {
    var lampCond = document.getElementById("cond").value;//fixme
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "http://localhost:8080/lamp/save", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    xmlhttp.send(JSON.stringify({lampCondition: lampCond}));
}

function showLamp() {
    var xhttp = new XMLHttpRequest();
    var idLamp = document.getElementById("idLamp").value;
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var lamp = JSON.parse(this.responseText);
            var html = '<tr>\n' +
                '        <th>Lamp id</th>\n' +
                '        <th>Lamp condition</th>\n' +
                '    </tr>';
            html = html + '        <td>' + lamp.id + '</td>' +
                '        <td>' + lamp.lampCondition + '</td></tr>';
            document.getElementById("lampsList").innerHTML = html;
        }
    }
    xhttp.open("GET", "http://localhost:8080/lamp/findById?id=" + idLamp, true);
    xhttp.send();
}

</script>

</body>
</html>