<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <title>Room</title>
</head>

<h2>You are in room: </h2>
    <h2 th:utext="${room.getName()}"></h2>

<form action="#">
    <button id="button" onclick="turnTheLampOffOn()">Turn the lamp</button>
    <input type="hidden" id="roomId" th:value="${room.getId()}">
    <input type="hidden" id="idLamp" th:value="${lamp.getId()}">
    <select id="cond">
        <option>ON</option>
        <option>OFF</option>
    </select>
</form>

<table id="lampo">
</table>

<script>
function turnTheLampOffOn() {
    var roomId = document.getElementById("roomId").value;
    var lampId = document.getElementById("idLamp").value;
    var lampCond = document.getElementById("cond").value;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("PUT", "http://localhost:8080/room/update", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    xmlhttp.send(JSON.stringify({id: roomId, lamp: {id: lampId, lampCondition: lampCond}}));
}

document.addEventListener("DOMContentLoaded",function() {
    var idLamp = document.getElementById("idLamp").value;
    var myButton = document.getElementById("button");
    myButton.addEventListener("click", function(){
        var request = new XMLHttpRequest();
        request.open('GET',"http://localhost:8080/lamp/findById?id=" + idLamp, true);
        request.addEventListener('readystatechange', function() {
            if ((request.readyState==4) && (request.status==200)) {
                var lamp = JSON.parse(this.responseText);
                var html = '<tr>\n' +
                    '        <th>Lamp condition</th>\n' +
                    '    </tr>';
                html = html + '<td>' + lamp.lampCondition + '</td></tr>';
                document.getElementById("lampo").innerHTML = html;
            }
        });
        request.send();
    });
});
</script>

</br>
<a href="/">Back to Rooms</a>
</body>
</html>